.main-header{
  h4{
    text-align: center;
  }
}
.text-center {
  text-align: center;
}
.listing{
  width: 80%;
  margin: auto;
}
.main-content {
  display: block;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}